@{
    <p>
        Що таке:
        - протокол       <br>
        - домен (origin) <br>
        - порт           <br>
        - PATH (шлях)    <br>
        - хеш            <br>
        - URL-параметри  <br>
    </p>

    <li>
        Протокол - це частина URL, яка визначає, яким чином відбуватиметься передача даних. Наприклад, протокол HTTP використовується для передачі даних через Інтернет. Протокол вказується на початку URL і закінчується двокрапкою, наприклад, https://.
    </li>

    <li>
        Домен (origin) - це частина URL, яка ідентифікує місце розташування ресурсу в Інтернеті. Він може бути IP-адресою або зареєстрованим ім'ям домену і може включати піддомени, наприклад, www.example.com або subdomain.example.com.
    </li>
    
    <li>
        Порт - це номер порту, на якому сервер, на якому розміщено ресурс, прослуховує запити. Порт вказується після домену та двокрапки, наприклад, https://example.com:8080/.
    </li>
    
    <li>
        PATH (шлях) - це частина URL, яка ідентифікує конкретний ресурс або об'єкт в ієрархії URL. Він зазвичай відділений від попередніх частин символом /, наприклад, https://example.com/path/to/resource.
    </li>
    
    <li>
        Хеш - це частина URL, яка ідентифікує конкретний фрагмент на сторінці. Він починається з символу # і може використовуватися для прокрутки до певної частини сторінки, наприклад, https://example.com/page#section.
    </li>
    
    <li>
        URL-параметри - це частина URL, яка використовується для передачі параметрів у запиті. Вони являють собою пари ім'я/значення, розділені символом &, і починаються з символу ?, наприклад, https://example.com/search?q=term&page=2.
    </li>
}
